<div {{ attributes.addClass('js-svg-sprite-browser-item media-library-item media-library-item--grid') }} data-svg-sprite-id="{{ id }}">
  <div class="media-library-item__preview">
    <div class="sprite-wrapper" style="width:100%">
      {{ content }}
    </div>
  </div>
  <div class="media-library-item__attributes">
    <div class="media-library-item__name">
      {{ id }}
    </div>
  </div>
</div>
