.media-library-item__preview svg {
  width:100%;
}
.media-library-views-form {
 display: flex;
}
.media-library-item {
  width: 128px;
  margin: 10px;
}
.media-library-item--grid.checked {
  background-color: var(--gin-bg-item-hover);
}
